html{
  background:url(../images/skewed_print.png);
  height:100%;
  color: white;
}

body{
  height:100%;
}

#form-div {
  background-color:rgba(72,72,72,0.4);
  padding: 30px;
  width: 300px;
  float: left;
  margin: 0 5 5 5;
  -moz-border-radius: 0 7px 7px 7px;
  -webkit-border-radius: 0 7px 7px 7px;
  border-radius: 0 7px 7px 7px;
  clear:left;
}

input {
  margin: 10px 10px 10px 10px;
}

input[type=text] {
	background-color: rgba(72,72,72,0.4);
	border-color: black;
  -moz-border-radius: 6px;
	border-radius: 6px;
  width: 100%;
  line-height: 150%;
  color: white;
  padding: 5px 5px 4px 5px;
  margin: 5px 0;
}

select {
	background-color:rgba(72,72,72,0.4);
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
	border-color: black;
	color: white;
}

select option {
  background: rgba(72,72,72,1);
  border-color: black;
}

textarea:focus, input:focus, select:focus{
    outline: 0;
}

.button {
  display: inline-block;
  margin: 10px;
  width: 85px;
  height: 65px;
  /*padding: 5px 30px;*/
  font-size: 30px;
  font-family: "Bitter",serif;
  line-height: 1.8;
  color: #FFF;
  text-shadow: -2px 2px #346392;
  background-color: #3498db;
  background-image: -webkit-linear-gradient(top, #6496c8, #346392);
  background-image: -moz-linear-gradient(top, #6496c8, #346392);
  background-image: linear-gradient(top, #6496c8, #346392);
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.button:hover{
  box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}
.button:active {
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}


#tab-nav{
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}
#tab-nav li{
  background-color:#000;
  border-bottom: 0;
  padding: 5px 10px;
  text-align:center;
  margin:0px;
  background:#ccc;
  float:left;
  margin-right:3px;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}

#tab-nav li a
{
    color:#000;
    text-decoration:none;
    text-align:center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
}
#tab-nav li.current{ 
    text-align:center;
    background-color:rgba(72,72,72,0.4);
}

#tab-nav li.current a {
    color:#FFFFFF;
}

canvas{
  position:absolute;
  width: 100%;
  height: 100%;
}

.plot_wrapper {
  position: relative;
  width: 100%;
  height: calc(20% - 15px);
  border:1px solid #000000;
  margin-bottom: 20px;
}

#canvas_wrapper {
  position: relative;
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: top;
  padding: 2px 2px 25px 25px;
}

.remove_button {
   position: absolute; 
   top: 0px;
   right: 0px;
   z-index: 99;
   opacity: 0.1;
}
.remove_button:hover {
   opacity: 1.0;
}

#form_wrapper {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}
.container {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  vertical-align: top;
  border-spacing: 5;
}

#player {
  float: left;
  margin-left: auto;
  margin-right: 0;
  clear: left;
}
